*{
    margin: 0;
    box-sizing: border-box;
     
}
/* header section */
.header-contaier{
width: 100vw;
height: 600px;
background-image: url(./heroooooo.png);
background-repeat: no-repeat;
background-size: cover;
}