* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Serif Pro", "lato";
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bg {
  background-image: url(./images/bg1.png);
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 28px;
}
.header-contaier {
  width: 100vw;
  height: 10vh;
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  align-items: center;
}

.header-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  gap: 30px;
  width: 20vw;
  height: 5vh;
  border: 2px solid #000;
  background-color: #fff;
  color: #666666;
  padding: 15px;
  border-radius: 50px;
}

.header-center {
  display: flex;
  gap: 30px;
}
.header-center-Black {
  color: #000;
}
/* hero section */

/* add section */
.add-contaier {
  height: 80vh;
  line-height: 40px;
}
.add-contaier-title {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
}
.add-contaier-title-s {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.9px;
}
.add-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}
.add-center-form-label {
  display: flex;
  flex-direction: column;
}
.add-center-form-label1 {
  display: flex;
  flex-direction: column;
}
.add-center-form-label2 {
  display: flex;
  flex-direction: column;
  /* gap: 100%; */
}
.add-center-form {
  width: 50vw;
  height: 50vh;
  letter-spacing: 1.4px;
  font-size: 1.2rem;
}
.add-center-img {
  width: 15vw;
  height: 42vh;
}

.add-center-img img {
  width: 10vw;
}
.x1 {
  font-size: 1.5rem;
}
.x2 {
  font-size: 1.3rem;
  width: 30vw;
  height: 8vh;
  border: 2px solid #000;
}
.x3 {
  border: 2px solid #000;
  width: 30vw;
}
.components-btn1 {
  width: 30vw;
  height: 10vh;
  background-color: #ffe592;
}
/* Detail section */

#users-span {
  color: #9f9f9f;
}
.users-contaier {
  height: 50vh;
  line-height: 70px;
}
.users-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 2rem;
}
.users-content {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.users-content-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5%;
  width: 29%;
  height: 40vh;
  border-radius: 10px;
  border: 3px solid #0842a9;
  padding: 20px;
}
.users-contaier-card-top-left img {
  padding: 10%;
  width: 100%;
  height: 100%;
}
.users-content-cards p {
  text-align: left;
  line-height: 150%;
}
.users-contaier-card-top {
  display: flex;
  gap: 3%;
}
#user1 {
  border-radius: 50%;
}
#user2 {
  border-radius: 50%;
}
#user3 {
  border-radius: 50%;
}
.stars {
  display: flex;
}
.components-contaier {
  height: 50vh;
  width: 100vw;
  padding-top: 10%;
}
.components-content {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  letter-spacing: 1.2%;
  font-size: 1.5rem;
}
.method-contaier {
  width: 100vw;
  height: 60vh;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
}
.method-content {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding: 1% 15% 15% 15%;
}
.hero-btn-detalis {
  margin-top: 7vw;
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
}
.hero-btn {
  border: 1% solid #ffe592;
  border-radius: 50px;
  padding: 1%;
  background-color: #ffe592;
  width: 20vw;
  height: 7vh;
  font-size: 1.5rem;
}

/* ---------------------------------------header section----------------------------------------------- */
.header-container {
  width: 100vw;
  height: 650px;
  background-image: url("../image/heroo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
  gap: 90px;
  height: 629px;
  width: 100vw;
}
#header-logo {
  width: 90px;
  margin-top: 2px;
}

.header-center {
  display: flex;
  font-family: lato;
  justify-content: flex-start;
  margin-top: 30px;
  gap: 80px;
}
/* nav{
  color: #fff;
} */

.header-left input[type="text"] {
  padding: 6px;
  border-radius: 10px;
  border: none;
  margin-top: 22px;
  margin-right: 16px;
  font-size: 8px;
  position: relative;
}

/*----------------------------------------------hero start-----------------------------------------------*/
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 28px;
  margin-top: -450px;
}
.hero-title {
  color: #ffe592;
  font-size: 56px;
  text-shadow: 2px 2px 8px #ffe592;
  line-height: 98px;
  text-align: center;
}

.hero-content {
  color: #fff;
  margin-top: 51px;
  font-size: 32px;
  text-align: center;
  line-height: 45px;
}
.hero-btn {
  border: 2px solid #ffe592;
  border-radius: 50px;
  padding: 8px;
  width: 150px;
  height: 50px;
  margin-top: 30px;
}
#hero-first-btn {
  background-color: #ffe592;
}
#hero-sec-btn {
  background-color: rgba(56, 48, 24, 10%);
}

/*--------------------------------------- category section start---------------------------------------- */
.CATEGORY-container {
  height: 400px;
  line-height: 25px;
  margin-top: 20px;
  text-align: center;
}

.CATEGORY-container-title {
  background-image: url(../image/Ellipse.png);
  background-size: cover;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #38302a;
  font-weight: bold;
}

.CATEGORY-content-cards-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 450px;
}
.CATEGORY-content-cards-top-in {
  width: 300px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-pic {
  width: 297px;
  height: 200px;
  margin-bottom: -10px;
}

.CATEGORY-content-cards-bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 400px;
  margin-top: 100px;
}
.CATEGORY-content-cards-bottom-in {
  width: 300px;
  height: 450px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CATEGORY-content-cards-background-dark {
  background-color: #38302a;
  width: 297px;
  height: 34px;
  color: #fff;
}

.CATEGORY-content-cards-background-light {
  background-color: rgba(56, 48, 42, 50%);
  width: 297px;
  height: 34px;
  color: #fff;
  margin-top: 2px;
}
.CATEGORY-btn {
  border: 2px solid #ffe592;
  border-radius: 50px;
  padding: 8px;
  background-color: #ffe592;
  width: 116px;
  height: 35px;
  margin-top: 25px;
}

/*-------------------------------------- listing page style-------------------------------------------- */

/*----------------------------------------- header section-------------------------------------------- */
.headerr-container {
  width: 100vw;
  height: 100px;
}

.headerr-bottom {
  display: flex;
  justify-content: space-around;
  gap: 90px;
  height: 629px;
  width: 100vw;
}
#headerr-logo {
  width: 90px;
  margin-top: 2px;
}

.headerr-center {
  display: flex;
  font-family: lato;
  justify-content: flex-start;
  margin-top: 30px;
  gap: 80px;
}

.headerr-left input[type="text"] {
  padding: 6px;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 16px;
  font-size: 8px;
}

.filter-contaier {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 169px;
  gap: 5px;
  font-size: 16px;
}

.Recipe-Listing-contaier {
  width: 100%;
  height: 100%;
  margin-top: 110px;
}

.Recipe-Listing-content-cards {
  border: 5px solid #000;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 38px;
  align-items: center;
  width: 818px;
  height: 275px;
}
.listig-img {
  width: 340px;
  height: 259px;
  display: flex;
  border-right: 5px;
}
.Recipe-Listing-contaier {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Recipe-Listing-content-cards-in {
  display: flex;
  flex-direction: row;
  margin-top: -45px;
  margin-bottom: 30px;
}

.cat-p-style {
  line-height: 30px;
  font-weight: bold;
}

.details .hero-image {
  width: 70%;
  margin: auto;
  align-items: center;
}
.details .hero-image .small-img {
  display: flex;
  gap: 2.4rem;
  margin-top: 1.5rem;
}

.details h4 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  line-height: 2rem;
}
.details .ingredients {
  width: 60%;
  margin: auto;
  display: flex;
  gap: 15rem;
  font-size: 1.5rem;
}

.details .instructions {
  width: 77%;
  margin: auto;
  font-size: 1.2rem;
}

.details .btn {
  background-color: #ffffff;
  text-align: center;
  margin: 2rem 0;
}

.details .btn button {
  color: #000;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: #ffe592;
  padding: 0.8rem 2.5rem;
  border-radius: 1.5rem;
  margin-right: 10rem;
}
